.event{
    margin : 10vw 5vw 10vw 5vw;
}
.event_title{
    font-size : 2vw;
}
.event_text{
    border-left : 0.3vw solid #FF9E1B; 
    padding-left : 3vw;
}
.event_text_quiz{
    font-size : 1.4vw;
}
.event_text_quiz span{
    font-size : 1.9vw;
}
.google_form{
    background-color: black;
    border : 0px;
    text-decoration: none;
    font-size : 1.4vw;
    width : 100%;
    text-align : right;
}
.google_form a:hover{
    color: #FF9E1B;
}
.padding {
    padding : 10px 0;
}