.info {
    overflow: hidden;
}

.title {
    font-size: 1.3vw;
    font-weight: bolder;
}

.introduce {
    position: relative;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.introduce p {
    text-align: right;
    margin-right: 3vw;
}

.info_box {
    display: flex;
    border-right: 0.2vw solid #FF9E1B;
    margin-right: 2vw;
}

.info_box img {
    width: 40vw;
    height: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

.info_box p {
    text-align: left;
    font-size: 1vw;
    padding: 5vw;
}

#info_star {
    position: absolute;
    max-width: 8%;
    height: auto;
    left: 93.9%;
    top: 75%;
}

.recruit {
    position: relative;
    margin-left: 10vw;
    padding-bottom: 10vw;
}

.recruit p {
    padding-left: 45vw;
}

.recruit_box {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
}

.recruit_box img {
    display: flex;
    width: 30vw;
    height: auto;
    padding-right: 5vw;
}

.recruit_box p {
    text-align: left;
    font-size: 1vw;
    padding: 5vw;
}

.schedule {
    position: relative;
    padding-bottom: 10vw;
    margin-left: 10vw;
}

.schedule title {
    padding-bottom: 1vw;
}

.schedule #schedule {
    font-size: 1vw;
    padding-bottom: 0.5vh;
}

.schedule_container {
    overflow: auto;
    margin-left: 3vw;
    margin-right: 5vw;
    padding-left: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    line-height: 2vw;
    width: 72vw;
    height: 15vw;
    border-left: 0.2vw solid #FF9E1B;
}

.schedule_container::-webkit-scrollbar {
    width: 0.5vw;
}

.schedule_container::-webkit-scrollbar-thumb {
    background-color: #FF9E1B;
}

.video {
    position: relative;
    padding-bottom: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

video {
    width: 69vw;
    border: 0.5vw solid #FF9E1B;
}

.must {
    width: 20vw;
    position: relative;
    padding-bottom: 2vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vw;
    padding-left: 2vw;
    line-height: 2vw;
    border-left: 0.2vw solid #FF9E1B;
}

.must p {
    font-size: 1vw;
}

.rule {
    padding-bottom: 3vw;
}

.link {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #FF9E1B;
    cursor: pointer
}