.info {
    overflow: hidden;
}

.introduce {
    position: relative;
    padding: 10vw 0vw 10vw 0vw;
}

.introduce p {
    text-align: right;
}

.info_box {
    display: flex;
    border-right: 0.2vw solid #FF9E1B;
}

.info_box img {
    width: 35vw;
    height: 25vw;
    padding-top: 2.5vw;
}

.intro_container {
    width: 50vw;
    height: 30vw;
    padding-left: 3vw;
    padding-right: 2vw;
}

.intro_container .title {
    text-align: right;
    font-size: 2vw;
}

.intro_container p {
    text-align: right;
    font-size: 1.4vw;
}

#info_star {
    /* 별 그냥 포토샵으로 줄이랑 사진해서 넣기 */
    position: absolute;
    max-width: 8%;
    height: auto;
    left: 95.8%;
    top: 73%;
}

.recruit {
    position: relative;
    padding: 10vw 0vw 10vw 0vw;
}

.recruit_box {
    display: flex;
}

.recruit_box img {
    width: 35vw;
    height: 25vw;
    padding-top: 2.5vw;
}

.recruit_container {
    width: 50vw;
    height: 30vw;
    padding-top: 2.5vw;
    padding-right: 5vw;
}

.recruit_container .title {
    font-size: 2vw;
}

.recruit_container p { 
    /* 좀 더 세세하게 나눠야함 */
    text-align: left;
    font-size: 1.3vw;
    line-height: 3vw;
}

.schedule {
    padding: 10vw 0vw 10vw 0vw;
    height: 35vw;
}

.schedule .title {
    font-size: 2vw;
}

.schedule p {
    font-size: 1.4vw;
}

.schedule_container {
    overflow: auto;
    /* width: 85vw; */
    height: 20vw;
    padding: 0 0 0 1vw;
    line-height: 2.5vw;
    font-size: 1.2vw;
    border-left: 0.2vw solid #FF9E1B; 
    /* 왼쪽 줄 */
}

.schedule_container::-webkit-scrollbar { 
    /* 스크롤바 전체 영역 */
    width: 0.5vw;
}

.schedule_container::-webkit-scrollbar-thumb {
    /* 스크롤 */
    background-color: #FF9E1B;
    border-top: 4vw solid black;
    border-bottom: 4vw solid black;
}

.video {
    display: flex;
    justify-content: center;
}

video {
    width: -webkit-fill-available;
    border: 0.5vw solid #FF9E1B;
}

.must {
    position: relative;
    margin: 10vw 0vw 10vw 0vw;
    padding-left: 3vw;
    border-left: 0.3vw solid #FF9E1B;
}

.must p {
    line-height: 2.5vw;
}

.must .title {
    font-size: 2vw;
}

.rule {
    padding-bottom: 3vw;
}

.link {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #FF9E1B;
    cursor: pointer
}