{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'lion/css/leo.css' %}">
    <link rel="stylesheet" href="{% static 'lion/css/event.css' %}">
    <link rel='stylesheet' href="{% static 'lion/css/index.css'%}"> 
    <link rel='stylesheet' href="{% static 'lion/css/slide.css'%}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <title>LIKELION at SKHU</title>
</head>

<body>
    <header>
        <p class = "header_text">Like lion</p>
    </header>

    <div id='wrapper'>
        <div class="leo">
            <div class="leo_top">
                <br><p id="leo_title">별을 클릭해 보세요</p>
                <hr><img id="leo_search" src="static/lion/img/leo/검색.png" alt="검색">
            </div>
            <br><br><br>
            <div class="leo_bottom">
                <img id="leo_lion" src="static/lion/img/leo/leo.png" alt="사자별자리">
                <div class="leo_star">
                    <img id="leo_video" src="static/lion/img/leo/반짝이1.png" onclick="changeVI(), out(leo_video), over(leo_lion), over(leo_introduce), over(leo_recruit), over(leo_schedule), over(leo_rulecurri), over(leo_slide), over(leo_event), over(leo_madein), over(leo_footer)" alt="별"></a>
                    <img id="leo_introduce" src="static/lion/img/leo/반짝이2.png" onclick="changeIN(), out(leo_introduce), over(leo_lion), over(leo_video), over(leo_recruit), over(leo_schedule), over(leo_rulecurri), over(leo_slide), over(leo_event), over(leo_madein), over(leo_footer)" alt="별">
                    <img id="leo_recruit" src="static/lion/img/leo/반짝이3.png" onclick="changeRE(), out(leo_recruit), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_schedule), over(leo_rulecurri), over(leo_slide), over(leo_event), over(leo_madein), over(leo_footer)" alt="별">
                    <img id="leo_schedule" src="static/lion/img/leo/반짝이4.png" onclick="changeSC(), out(leo_schedule), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_recruit), over(leo_rulecurri), over(leo_slide), over(leo_event), over(leo_madein), over(leo_footer)" alt="별">
                    <img id="leo_rulecurri" src="static/lion/img/leo/반짝이5.png" onclick="changeMU(), out(leo_rulecurri), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_recruit), over(leo_schedule), over(leo_slide), over(leo_event), over(leo_madein), over(leo_footer)" alt="별">
                    <img id="leo_slide" src="static/lion/img/leo/반짝이6.png" onclick="changeSL(), out(leo_slide), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_recruit), over(leo_schedule), over(leo_rulecurri), over(leo_event), over(leo_madein), over(leo_footer)" alt="별">
                    <img id="leo_event" src="static/lion/img/leo/반짝이7.png" onclick="changeEV(), out(leo_event), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_recruit), over(leo_schedule), over(leo_rulecurri), over(leo_slide), over(leo_madein), over(leo_footer)" alt="별">
                    <img id="leo_madein" src="static/lion/img/leo/반짝이8.png" onclick="changeMA(), out(leo_madein), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_recruit), over(leo_schedule), over(leo_rulecurri), over(leo_slide), over(leo_event), over(leo_footer)" alt="별">
                    <img id="leo_footer" src="static/lion/img/leo/반짝이9.png" onclick="changeFO(), out(leo_footer), over(leo_lion), over(leo_video), over(leo_introduce), over(leo_recruit), over(leo_schedule), over(leo_rulecurri), over(leo_slide), over(leo_event), over(leo_madein)" alt="별">
                </div>
            </div>
            <script src="{% static 'lion/js/leo.js' %}"></script>
        </div>
        <br>

        <div class="info">
            <div class="introduce" id="leo_IN">
                <p class="title">멋쟁이 사자처럼이 무엇인가요?</p>
                <p>
                    "HACK YOUR LIFE 내 아이디어를 내 손으로 실현한다"의 가치 아래에서 <br>
                    시작된 전국 연합 동아리 멋쟁이 사자처럼. <br>
                    <br>
                    멋쟁이 사자처럼은 자신만의 아이디어를 코딩을 통해 구현해나가는 프로그래밍 동아리입니다. <br>
                    우리 멋쟁이 사자처럼 성공회대학교는 2022년을 함께 나아갈 아기사자를 찾고 있습니다. <br>
                    멋쟁이 사자처럼에서 함께 성장할 아기사자를 모집합니다 !
                </p>
            </div>

            <div class="recruit" id="leo_RE">
                <p class="title">모집대상</p>
                <p>
                    전공자/비전공자 상관없이 나의 아이디어를 웹 서비스를 구현해보고 싶은 누구나! <br>
                    해커톤과 넥슨 MOD를 통해 개발 경험을 쌓아보고 싶은 누구나! <br>
                    Django와 Python을 통한 웹 서비스를 구축해보고 싶은 누구나! <br>
                    멋쟁이 사자처럼 성공회대학교가 기다리고 있습니다 🦁
                </p>
            </div>

            <div class="schedule" id="leo_SC">
                <p class="title">모집일정</p>
                <p>
                    구글폼을 이용한 1차 면접과 비대면(ex. 줌)을 통한 2차 면접을 진행합니다.
                </p>
                <div class="schedule_container">
                    2월 21일 - 3월 11일 : 서류 모집 기간 <br>
                    3월 14일 - 3월 18일 : 면접 <br>
                    3월 20일 이후 멋쟁이 사자처럼 활동 시작 <br>
                </div>
            </div>

            <div class="video" id="leo_VI">
                <p class="title">소개영상</p>
            </div>

            <div class="must" id="leo_MU">
                <div class="rule">
                    <p class="title">멋쟁이 사자처럼 규칙</p>
                    <p>
                        멋쟁이 사자처럼 10기로 함께 활동하고 싶다면 <br>
                        아래 규칙을 정독한 후에 지원서를 작성해주시길 바랍니다 ! <br>
                        <br>
                        멋쟁이 사자처럼 성공회대 규칙 <br>
                        (다운로드)
                    </p>
                </div>
            
                <div class="curriculum">
                    <p class="title">멋쟁이 사자처럼 커리큘럼</p>
                    <p>
                        Html/Css, Javascript, Python, Django를 기반으로 활동합니다 <br>
                        자세한 내용이 궁금하다면 아래 커리큘럼을 확인해주세요. <br>
                        <br>
                        멋쟁이 사자처럼 성공회대 커리큘럼 <br>
                        (다운로드)
                    </p>
                </div>
            </div>
        </div>

        <div class="slide">
            <span>이미지를 클릭하면 해당 서비스 페이지로 이동합니다.</span>
            <div class="slide-container">
                <ul class="slides-box">
                    
                    <li class="slide-li">
                        <img class="slide-img" src="{% static 'lion/img/banner1.png' %}"></li>
                    <li class="slide-li">
                        <a href="https://sharebookrest.herokuapp.com/">
                            <img class="slide-img" src="{% static 'lion/img/banner2_bookrest.png' %}"></a>
                        </li>
                    <li class="slide-li">
                        <a href="https://likelionatskhu9jamjam.herokuapp.com/">
                            <img class="slide-img" src="{% static 'lion/img/banner3_jamjam.png' %}"></a>
                        </li>
                    <li class="slide-li">
                        <a href="https://pore-likelion.herokuapp.com/">
                            <img class="slide-img" src="{% static 'lion/img/banner4_pore.png' %}"></a>
                        </li>
                    <li class="slide-li">
                        <a href="https://mucksal-project.herokuapp.com/">
                            <img class="slide-img" src="{% static 'lion/img/banner5_mucksal.png' %}"></a>
                        </li>
                    <li class="slide-li">
                        <a href="https://gigoogigeulz9z9.herokuapp.com/">
                            <img class="slide-img" src="{% static 'lion/img/banner6_earth.png '%}"></a>
                        </li>
                </ul>
                
                <p class="controller"> 
                    <span class="prev">&lang;</span> 
                    <span class="next">&rang;</span> 
                </p>

            </div>
            <script src="{% static 'lion/js/slide.js' %}"></script>
        </div>

        <div class="event" id="leo_EV">

        </div>

        <div class="madein">
        </div>
    </div>

    <footer>
        <img class="footer_img" src="{% static 'lion/img/5_footer.png' %}">
        <br>
        <span class="H_orange">HACK YOUR LIFE</span>
        <p class="footlion">멋쟁이 사자처럼</p>
        <p class = "number"><span class = "orange">PHONE NUMBER</span> 010-4122-2746</p>
        <p class = "insta"><span class = "orange">INSTAGRAM</span> @likelion_skhu</p>
        <br>
    </footer>



</body>

</html>